.page {
    width: 600px;
    padding: 10px;
    margin: auto;
}

.page .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color-primary);
    border-radius: 10px;
    height: 60px;
    box-shadow: var(--color-shadow) 0px 1px 6px 2px;
}

.page .navbar .lefticon,
.page .navbar .righticon {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

.page .navbar .icon {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
}

.page .navbar .shadow {
    height: 42px;
    width: 42px;
    background-color: var(--color-fourth);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.page .navbar .icon:hover {
    position: relative;
    cursor: pointer;
}

.page .navbar .icon span {
    visibility: hidden;
    background-color: var(--color-hover-background);
    color: var(--color-hover-text);
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    font-size: 12px;
    width: 70px;
    top: -16px;
    transform: translateY(70%);
}

.page .navbar .icon:hover span {
    visibility: visible;
    transform: translateY(0%);
    transition: all 0.5s ease;
}

.page .navbar .righticon .icon button {
    all: unset;
    cursor: pointer;
    text-align: center;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.page .navbar .righticon .icon:hover button {
    box-shadow: inset var(--color-fourth) 0px 0px 3px 20px;
}