a.nav-link:active{color:white !important;} 
a.nav-link:hover {color:#8AEA92 !important; text-decoration:navy ;} 
button.btn-outline-success:hover{color:white !important; background-color: #8AEA92 !important;}
#fixedbutton {position: fixed;bottom: 5%;right: 5%; }
.nav-item{margin-left:35px;}
.navbar-nav{margin-right: 40px;}
.row {margin-top:30px;display: flex;}
.column {flex: 50%;}
.logoimg{margin-left:20px;height:50px;}